@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');

body {
    width: 320px;
    margin: 0 auto;

    font-family: 'Ubuntu', 'Arial', sans-serif;
    font-size: 14px;
}

.main-header {
    width: 320px;
    height: auto;
    margin: 0 auto;
}
.main-navigation {
    display: flex;
    flex-direction: row;
    height: 54px;

    justify-content: space-around;
    align-items: flex-end;
}
.site-navigation {
    display: none;
}
.user-menu__btn {
    border: none;
    background-color: transparent;
    width: 25px;
    padding: 0;
    outline: none;
    cursor: pointer;
}

.phone__image{
    cursor: pointer;
}
.main-container {
    width: 320px;
    height: auto;
    margin: 0 auto;
}

.main-container__intro {
    height: 349px;

    background-image: url('../img/decorative/header-back-mobile.png');
}
.intro__title {
    width: 261px;
    height: 78px;
    padding-top: 61px;
    padding-left: 20px;

    font-family: 'Ubuntu', 'Arial', sans-serif;
    font-size: 29px;
    font-weight: 300;
    line-height: 40px;

    color: white;
}

.intro__image-line {
    padding-left: 20px;
}
.about__title {
    width: 189px;
    padding-top: 25px;
    padding-left: 20px;

    font-size: 20px;
    font-weight: 300;
}

.about__information-list {
    padding-left: 20px;

    font-size: 14px;
    line-height: 30px;

    list-style-type: none;
}

.about .buy__btn {
    margin-right: 40px;
}
.breadcrumbs {
    display: none;
}
.information-list__title {
    color: #6997c9;
}

.buy__price,
.buy__price {
    padding-left: 115px;

    font-size: 24px;
    font-weight: 300;
}
.buy__price-description,
.buy__price-description {
    padding-left: 95px;

    font-size: 14px;
    font-weight: 300;

    color: #b3b0a9;
}

.buy__btn,
.buy__btn {
    width: 224px;
    height: 48px;
    margin-left: 47px;

    font-size: 16px;
    font-weight: 700;
    line-height: 18px;

    border: 2px solid #ffde16;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
}

.buy__btn:hover,
.buy__btn:hover {
    color: white;
    background-color: #fed643;
    text-transform: uppercase;
}
.main-info__attention {
    padding-left: 20px;

    font-size: 14px;
    font-weight: 300;

    color: #6999cb;
}
.main-info__link {
    color: #6999cb;
}

.main-info__title,
.main-info__text,
.main-info__text {
    padding-right: 20px;
    padding-left: 20px;

    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.description-list__item {
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 0;

    font-size: 14px;
    font-weight: 300;
    line-height: 20px;

    list-style-type: none;
}

.gallery__title {
    padding-left: 20px;

    font-size: 18px;
    font-weight: 300;

    color: #0f1011;
}

.gallery__slide {
    padding-left: 20px;
}

.gallery__box {
    display: none;
}

.reviews__shot {
    padding-left: 20px;
}
.useful-info__title {
    padding-left: 20px;

    font-size: 20px;
    font-weight: 300;
}

.useful-info__list {
    width: 253px;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;


    list-style-type: none;

    border: 4px solid #6999cb;
}

.useful-info__link {
    text-decoration: none;
    color: black;
    padding-left: 10px;
    cursor: pointer;
}
.useful-info__item {
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
.products__title {
    padding-left: 20px;

    font-size: 20px;
    font-weight: 300;
}
.product {
    width: 280px;
    height: 176px;
    margin-left: 20px;

    color: white;
    border-radius: 8px;
    background-image: url('../img/decorative/blue-back.png');
}

.product:last-child {
    margin-bottom: 45px;
}

.product__name {
    padding-top: 23px;
    padding-left: 20px;

    font-size: 16px;
    font-weight: 300;
}

.product__link {
    padding-top: 10px;
    padding-left: 30px;

    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    display: block;
    cursor: pointer;
}

.product__pic {
    padding-right: 20px;
    padding-bottom: 20px;
}

.product__image-line {
    padding-left: 20px;
    padding-top: 20px;
}

.main-footer {
    width: 320px;
    height: auto;
    margin: 0 auto;
}

.main-footer__upper-level {
    height: 200px;
    padding-top: 21px;
    padding-left: 19px;

    color: white;
    background-color: #6997c9;
}

.upper-level__title,
.upper-level__descrition {
    font-weight: 300;
}
.upper-level__title {
    font-size: 16px;

    text-transform: uppercase;
}
.upper-level__descrition {
    font-size: 10px;
}
.upper-level__copyrights {
    width: 265px;

    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
}

.upper-level__phone-number {
    padding-left: 23px;

    font-size: 13px;
    font-weight: 300;
}

.upper-level__email {
    padding-left: 23px;

    font-size: 13px;
    font-weight: 300;
}
.main-footer__lower-level {
    height: 144px;

    background-color: #5d85b1;
}

@media only screen
and (min-width: 768px)
and (max-width: 1366px) {
    body {
        width: 768px;
    }
    .main-header,
    .main-container {
        width: 768px;
    }
    .intro {
        height: 290px;
     background-image: url("../img/decorative/header-back-tablet.jpg");
    }
    .intro__title {
        padding-top: 50px;
        padding-left: 80px;
    }

    .intro__image-line {
        padding-top: 10px;
        padding-left: 80px;
    }
    .breadcrumbs {
        width: 352px;
        list-style-type: none;
        font-size: 14px;
        padding-left: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
    .about {
        width: 620px;
        height: 200px;
        padding-left: 80px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .about__title {
        width: 300px;
        padding-top: 0;
        padding-left: 80px;
    }
    .information-list {
        width: 260px;
        height: 90px;
        margin-top: 0;
        margin-right: 30px;
        margin-bottom: 0;

    }
    .cost {
        height: 60px;
    }
    .buy__price {
        margin: 0;
    }

    .buy {
        width: 560px;
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .buy--main {
        padding-left: 80px;
    }
    .buy--main .cost {
        height: 60px;
    }
    .buy--main .buy__btn {
        margin-left: 0;
    }
    .buy--main .buy__price {
       margin: 0;
    }
    .cost {
        width: 200px;
    }
    .buy__price,
    .buy__price-description {
        padding-left: 0;
    }
    .information-list {
        padding-left: 0;
    }
    .useful-info__list {
        width: 608px;
        height: 207px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    .main-info {
        width: 768px;
    }
    .main-info__text,
    .main-info__attention,
    .main-info__title,
    .description-list {
        padding-right: 100px;
        padding-left: 80px;
    }
    .gallery__title {
    padding-left: 70px;
    }
    .gallery__box {
        margin-left: 70px;
        margin-bottom: 45px;
        width: 610px;
        height: 165px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .reviews__shot {
        width: 605px;
        height: 697px;
        padding-left: 70px;
    }
    .useful-info__title {
        padding-left: 70px;
    }
    .useful-info__list {
        margin-left: 70px;
    }
    .products {
        width: 580px;
        height: 215px;
        margin-bottom: 30px;
        margin-left: 90px;
    }
    .product {
        width: 280px;
    }
    .all-products {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .products .product:last-child {
        display: none;
    }
    .main-footer {
        width: 768px;
    }
    .contacts {
        height: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .main-footer__upper-level {
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 70px;
        padding-right: 70px;
    }
    .main-footer__lower-level {
        height: 42px;
    }

    .upper-level__phone-number,
    .upper-level__email {
        margin: 0;
    }
}

@media only screen
and (min-width: 1366px)  {
    body {
        width: 100%;
    }
    .big-container {
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
    }
    .main-header {
        width: 1366px;
        height: 90px;
    }
    .main-navigation {
        width: 1132px;
        margin: 0 auto;
        height: 90px;
    }
    .site-navigation {
        width: 885px;
        height: 31px;
        margin: 0;
        font-weight: 300;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: flex-start;
    }
    .site-navigation__item:first-child {
        width: 162px;
    }
    .site-navigation__item:nth-child(2) {
        width: 63px;
    }
    .site-navigation__item:nth-child(3) {
        width: 130px;
    }
    .site-navigation__item:nth-child(4) {
        width: 152px;
    }
    .site-navigation__item--contact {
        width: 120px;
    }

    .item--grey {
        font-size: 12px;
        color: #bcbab4;
    }
    .phone {
        display: none;
    }
    .user-menu {
        display: none;
    }
    .main-container {
        width: 1366px;
        margin: 0 auto;
    }
    .page-wrapper {
        height: 3000px;
        display: flex;
        flex-direction: column;
    }

    .breadcrumbs {
        width: 407px;
        list-style-type: none;
        padding-left: 130px;
        font-size: 16px;
        font-weight: 300;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .page-blocks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .intro {
        height: 420px;
        width: 1350px;
        background-image: url("../img/decorative/header-back-desktop.jpg");
    }
    .intro__image-line, .intro__title {
        padding-left: 135px;
    }
    .breadcrumbs__item:last-child {
        color: #d0cdc9;
    }
    .about__title {
        width: 437px;
        height: 29px;
        color: #010101;
        font-size: 25px;
        margin: 0;
        padding-top: 0;
        padding-left: 130px;
        font-weight: 300;
        line-height: 50px;
    }
    .about {
        width: 1076px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-grow: 1;
        order: 1;
    }
    .about__information-list {
        font-size: 16px;
        line-height: 40px;
        font-weight: 300;
    }
    .about__information-list:first-child {
        padding-left: 0;
        padding-top: 20px;
    }

    .about__information-list:nth-child(2){
        margin-left: -230px;
        padding-top: 20px;
    }

    .main-info {
        width: 757px;
        height: auto;

        padding-left: 130px;
        order: 2;
    }
    .main-info__text {
        font-size: 16px;
    }
    .buy__btn {
        width: 220px;
        height: 45px;
    }
    .buy--main {
        width: 445px;
        padding-top: 60px;
        padding-left: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .main-info .buy__price {
        margin: 0;
        padding: 0;
    }
   .main-info .buy__price-description {
        padding: 0;
    }
   .main-info .cost {
        width: 150px;
        height: 52px;
    }
   .gallery {
       order: 4;
       padding-left: 130px;
       margin-top: 80px;
       margin-bottom: 30px;
   }
   .gallery__title {
       width: 146px;
       height: 23px;
       color: #0f1011;
       font-size: 24px;
       font-weight: 300;
       line-height: 38px;
   }
   .gallery__box {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-between;
       width: 1100px;
       height: 295px;
   }
   .reviews {
       width: 765px;
       height: 882px;
       padding-left: 130px;
       order: 5;
   }
   .additional-block {
       width: 275px;
       height: 1050px;
       margin-right: 150px;
       order: 3;
   }
   .useful-info__list {
       margin: 0;
       width: 272px;
       height: auto;
       font-size: 16px;
   }
   .products {
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }
   .main-footer {
       width: 1366px;
   }
   .main-footer__logo {
       padding-left: 130px;
   }
   .upper-level__copyrights {
       padding-left: 130px;
   }
   .contacts {
       padding-left: 110px;
   }
}